html,
body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif !important;
}

p, div, h4, h5, h6, input, fieldset, button{
  font-family: 'Raleway', sans-serif;
}


#__next {
  height: 100%;
}

code {
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.otp--input div {
  margin-bottom: 30px;
  margin-top: 20px;
}

.otp--input input {
  width: 5em !important;
  height: 5em !important;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
}

